Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
drf-spectacular
psycopg[binary]
pypdf>=5.0,<6
# dev / quality
pytest
pytest-django
black
isort
autoflake
ruff
pylint
pylint-django
flake8
